
{% extends "base.html" %}


{% load static %}


{% block content %}
    <body>
        <br>
        <div class="container bg-light shadow-md p-5 text-dark" style="width:500px; border-radius:20px;">
            <form id="form" action="{% url 'payment:complete-order' %}" method="POST">
                <div>
                    <h3> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Complete your order </h3>
                    <p> Please enter in the relevant information below. </p>
                    <hr>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" id="name" type="text" placeholder="Full name*" autocomplete="off" value="{{shipping_address.full_name}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" id="email" type="email" placeholder="Email address*" autocomplete="off" value="{{shipping_address.email}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" id="country" type="text" placeholder="Country*" autocomplete="off" value="{{shipping_address.country}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" id="city" type="text" placeholder="City*" autocomplete="off" value="{{shipping_address.city}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" id="street" type="text" placeholder="Street*" autocomplete="off" value="{{shipping_address.street}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" id="apartment" type="text" placeholder="Apartment*" autocomplete="off" value="{{shipping_address.apartment}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" id="zip" type="text" placeholder="Zip code*" autocomplete="off" value="{{shipping_address.zip}}" required>
                    </div>
                    <br>
                </div>
                <br>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary w-100 btn-block p-2 btn-register" id="complete-order-stripe" name="stripe-payment" value="stripe-payment"> &nbsp; Pay with Stripe</button>
                <button type="submit" class="btn btn-primary w-100 btn-block p-2 btn-register mt-2" id="complete-order-yookassa" name="yookassa-payment" value="yookassa-payment"> &nbsp; Pay with Yookassa</button>
                <br>
            </form>
        </div>
        <br>
    </body>

{% endblock %}