{% load thumbnail%}

{% for product in products %}
    {% if forloop.last %}
        <div class="col" hx-get="{% url 'shop:products' %}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed"
        hx-swap="afterend">
    {% else %}
        <div class="col">
    {% endif %}
            <a class="text-light text-decoration-none fs-4" href="{{product.get_absolute_url}}">
                <div class="card shadow-sm bg-dark h-100">
                    {% thumbnail product.image "400x400" as im %}
                        <img src="{{ im.url }}" class="img-fluid h-100" alt="Responsive image">
                    {% endthumbnail %}
                    <div class="card-body">
                        <p class="card-text text-light">
                            {{product.name|capfirst}}
                        </p>
                        <div class="d-flex badge bg-success text-wrap" style="width: 6rem;">
                            <h5 class="card-title mb-1 mt-1">$ {{product.price}}</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
{% endfor %}