{% extends 'base.html' %}

{% block content %}

<main>
    <div class="album py-5">
        <div class="container">
            <div class="pb-3 h5">{{ category.name|capfirst }}</div>

            <hr><br>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in products %}
                <div class="col">
                    <div class="card shadow-sm bg-dark">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="Responsive image">
                        <div class="card-body">
                            <p class="card-text text-light">
                                <a class="text-light text-decoration-none fs-4" href="{{product.get_absolute_url}}">{{product.name|capfirst}}</a>
                            </p>
                            <div class="d-flex justify-content-between align-items-center badge bg-success text-wrap" style="width: 6rem;">
                                <h5 class="card-title">$ {{product.price}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}