{% extends "base.html" %}

{% load thumbnail %}

{% block content %}

<!-- Introduction Section -->
{% if not request.user.is_authenticated %}
    <section class="container py-4 text-center">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Product List</h1>
                <br>
                <p class="lead text-secondary">Below is a list of all the available products.</p>
                <br>
                <a href='{% url "account:register" %}' class="btn btn-success my-2 my-sm-0">Create an account</a>
            </div>
        </div>
    </section>
{% endif %}
<!-- All products section -->

<section class="album py-5">
    <div class="container">
        <div class="pb-3 h5">All products</div>
        <hr>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
            <div class="col">
                <a class="text-light text-decoration-none fs-4" href="{{product.get_absolute_url}}">
                    <div class="card shadow-sm bg-dark h-100">
                        {% thumbnail product.image "300x300" crop="center" as im %}
                            <img src="{{ im.url }}" class="img-fluid h-100" alt="Responsive image">
                        {% endthumbnail %}
                        <div class="card-body">
                            <p class="card-text text-light">
                                {{product.name|capfirst}}
                            </p>
                            <div class="d-flex badge bg-success text-wrap" style="width: 6rem;">
                                <h5 class="card-title mb-1 mt-1">$ {{product.price}}</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}