{% extends "base.html" %}

{% block content %}

<!-- Introduction Section -->
{% if not request.user.is_authenticated %}
    <section class="container py-4 text-center">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Product List</h1>
                <br>
                <p class="lead text-secondary">Below is a list of all the available products.</p>
                <br>
                <a href='{% url "account:register" %}' class="btn btn-success my-2 my-sm-0">Create an account</a>
            </div>
        </div>
    </section>
{% endif %}
<!-- All products section -->

<section class="album py-5">
    <div class="container">
        <div class="pb-3 h5">All products</div>
        <hr>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% include "shop/components/product_list.html" %}
        </div>
    </div>
</section>


{% endblock %}